.container-logo {
    margin: 90px auto 15px;
    width: 272px;
}

.logo {
    padding-top: 20px;
}

.container-search {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin: auto;
  width: 582px;
}

.container-form {
  display: flex;
  padding: 5px 10px;
}

.form-search {
  width: 100%;
}

.search {
    background-color: transparent;
    border: none;
    font-size: 16px;
    line-height: 34px;
    outline: none;
    width: 100%;
}

.container-buttons {
  justify-content: center;
  display: flex;
  margin: 18px auto 0;
  width: 572px;
}

.btn {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #222;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  margin: 11px 6px;
  padding: 0px 16px;
}

.btn:hover {
  border-color: #c6c6c6;
}