html {
  font-family: Arial, sans-serif;
}

.container-logo {
    margin: 130px auto 15px;
    width: 272px;
}

.logo {
    padding-top: 20px;
}

.container-search {
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  padding: 5px 10px;
  margin: auto;
  width: 582px;
}

.container-icon {
  height: 20px;
  padding-right: 10px;
  width: 20px;
}

.container-icon svg {
  fill: #9aa0a6
}

.container-form {
  flex: 1 1 100%;
}

.form-search {
  width: 100%;
}

.search {
    background-color: transparent;
    border: none;
    font-size: 16px;
    line-height: 34px;
    outline: none;
    width: 100%;
}

.container-mic {
  display: flex;
  padding: 0 5px;
}

.container-mic span {
  background-image: url("../images/mic.png");
  background-size: 24px;
  height: 24px;
  width: 24px;
}

.container-buttons {
  justify-content: center;
  display: flex;
  margin: 18px auto 0;
  width: 572px;
}

.btn {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #222;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  margin: 11px 6px;
  padding: 0 16px;
}

.btn:hover {
  border-color: #c6c6c6;
}

header {
  align-items: center;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0 10px;
}

.links-right {
  align-items: center;
  display: flex;
}

.hdr-link {
  color: rgba(0,0,0,.75);
  text-decoration: none;
}

header .hdr-link:not(:first-child) {
  margin-left: 15px;
}

footer .hdr-link:not(:first-child) {
  margin-left: 25px;
}

.hdr-link:hover {
  text-decoration: underline;
}

.link-apps {
  background-image: url("../images/icons.png");
  background-position: -132px -38px;
  background-size: 528px 68px;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.btn-primary {
  background-color: #4387fd;
  border: 1px solid #4285f4;
  border-radius: 2px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  line-height: 28px;
  margin-left: 15px;
  outline: none;
  padding: 0 12px;
}

footer {
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 12px 25px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}