.container-logo {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 272px;
}

.logo {
    padding-top: 20px;
}

.container-search {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin: auto;
  width: 582px;
}

.container-form {
  display: flex;
  padding: 5px 10px;
}

.form-search {
  width: 100%;
}

.search {
    background-color: transparent;
    border: none;
    width: 100%;
}
